* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: white;
  --text-primary: black;
  --background-img: url("https://media.gq.com.mx/photos/5eb5954e51cd5e1b340e8b67/16:9/w_2560%2Cc_limit/dia-de-goku.png");
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --background-img: url("https://p325k7wa.twic.pics/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/new/dbxv2-standardedition.jpg?twic=v1/max=760/step=10/quality=80");
}

.App {
  height: 100vh;
  color: var(--text-primary);
  background-color: var(--background);
  background-image: var(--background-img);
  background-position: center;
  background-size: cover;
  padding: 20px;
  transition: all .5s;
}
button {
  color: var(--text-primary);
  font-weight: bolder;
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}